<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>EEG-Adaptive Spatial Audio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@300;400;500;600&display=swap" rel="stylesheet">
  <script defer src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"></script>
  {% include '_styles.html' %}
</head>
<body>

{% include '_tab_bar.html' %}
{% include '_v1.html' %}
{% include '_v2.html' %}
{% include '_v3.html' %}
{% include '_scripts.html' %}
</body>
</html>
